<div  class="tableNomVip">
  <table>
    <tr>
      <th><img src="/images/vips.png" alt="oups"></th>
    </tr>
    {{#each vipNomPrenom}}
    <tr>
      <td><a href="/articles/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a></td>
    </tr>
    {{/each}}
  </table>
</div>
