{{> listeVipPartial}}

{{#each listeVip}}

<div class="vip">
  <a href="/repertoire/vip/{{this.numeroVip}}">
      <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="aïe" class="indexImage">
    <p>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
  </a>
</div>

{{/each}}
